keeptrack requirements

Python Modules:

  Calendar Stuff:
  google-api-python-client (version 1.5.3)
  pytz (version 2016.7)

  Chart Stuff:
  django-qsstats-magic (version 0.7.2)
  python-dateutil (version 2.5.3)
  django-google-charts (version 0.1.1)
