/*TEST CSS */

form.inModal {
    padding: 0px;
}

form.inModal div.form-actions {
    margin-top: 10px;
}

#range_form {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.modal-header {
    background-color: var(--color4);
}

.modal-content{
    border-radius: 0px;
}

.modal-footer{
    border-top: 2px dashed var(--color4);
    background-color: var(--gray);
    text-align: left;
}

.button-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button-primary:hover {
    background-color: #286090;
    border-color: #204d74;
}

button.close {
    opacity: 1;
    text-shadow: none;
    color: var(--red);
}

button.close:hover {
    color: white;
}

.btn-primary {
    background-color: var(--red);
    border: 2px solid var(--red);
}

.btn-primary:hover {
    background-color: var(--red);
    border: 2px solid white;
}

.btn-primary:active{
    background-color: var(--red);
    border-color: white;
}

.btn-primary:focus{
    background-color: var(--red);
    border-color: white;
}

.btn-primary:active:hover {
    background-color: var(--red);
    border-color: white;
}

.activeBtn {
    background-color: var(--gray);
    border-color: var(--red);   
    color: var(--red);
}

div.activeBtn:hover {
    background-color: var(--gray);
    color: var(--red);
    border-color: var(--red);
    cursor: default;
}


#page {
    background-color:white;
}


.ui-widget-overlay {
    background: #080808;
}

.jumbotron, .footer {
    background-color:var(--color4);
}

h1, h2, h3, h4, h5, h6 {
  color:var(--color2);
}


.pull-left, .nav, .nav-pills {
  color:#f7c331;
}

.nav>li>a {
    text-decoration:none;
    color: var(--color4);
}

.nav>li>a:hover{
    background-color: white;
    color: var(--red);
}

.nav {
  background-color: var(--color3);
    padding: 2px;
}

.nav a {
    color: var(--color2);
}

.panel {
    border-radius: 0px;
    border: 2px solid var(--color4)
}

.panel-body, .panel-heading {
    border-radius: 0px;
}

.panel-default {
    column-gap: 40px;
    box-shadow: 0px 5px 5px #888888;
}

.panel-default > .panel-heading {
    background-color: var(--color4);
    text-align: center;
    color: aliceblue;
    font-size: 125%;
}

.panel-group .panel+.panel {
    margin-top: 20px;
}

.panel-footer {
    
    background-color: var(--gray);
    border-top: 2px dashed var(--color4);
    margin-bottom: 0px;
    padding: 6px 15px;
    border-radius: 0px;
}

.jumbotron {
    margin-bottom: 0px;
}

.auth {
  padding-left: 20px;
}

h1 {
  padding-left: 20px;
}

.a {
  padding-left: 20px;
}

.dropdown-divider {
  align-items: center;
}

.inline {
  display:inline-block;
}

.existing-athletes, .add-athlete{
    display: inline-block;
    vertical-align: top;
}

.existing-athletes {
  padding-left: 20px;
  width: 40%
}
