div.pagetitle {
  padding-left: 5px;
  text-transform: capitalize;
  color: #5a5a5a;
}

* {
    font-family: "Lato";
}

#page {
  /*border: 1px solid black;*/
  padding: 10px;
  border-radius: 5px;
}
.module_container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  color: black;
}

.error {
    text-align: center;
}

.calendar .well {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
}

.calendar th {
  text-align: center;
}

.calendar table {
  table-layout: fixed;
}

.calendar table a:hover, .calendar th:hover {
  cursor: default;
  text-decoration: none;
}
