.nav {
  background-color: white;
}

.nav .container-fluid {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
