
.jumbotron, .footer {
    background-color:var(--color1);
}

h1, h2, h3, h4, h5, h6 {
  color:#f7882f;
  padding-left: 20px;
}


.pull-left, .nav, .nav-pills {
  color:#f7c331;
}

/*.container-fluid   {
  background-color:#dcc7aa;
}*/

.nav {
  background-color: var(--color3);
}

a {
  text-decoration: none;

}

.panel-default > .panel-heading {
    background-color: var(--color1);
    text-align: center;
    color: aliceblue;
    font-size: 125%;
}

.panel-default {
    box-shadow: 5px 10px 5px grey;
    column-gap: 40px;
}

.panel-group .panel+.panel {
    margin-top: 20px;
}

.jumbotron {
    margin-bottom: 0px;
}

.auth {
  padding-left: 20px;
}

h1 {
  padding-left: 20px;
}

h4 {
  padding-left: 20px;
}

.a {
  padding-left: 20px;
}

.dropdown-divider {
  align-items: center;
}
