.jumbotron {
  height: 15%;
  background-position: center;
  background-repeat: no-repeat;
  /*background-image: url(http://i.imgur.com/JZLVCcl.png);*/
  /*background-image: url(http://i.imgur.com/0mEvuUa.png);*/
  background-image: url(http://i.imgur.com/3wSQjTD.png);
}

.jumbotron .container-fluid #authentication {
  position: absolute;
  right: 20px;
}

.auth {
  color: grey;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#github_link {
  color:grey;
}
