#jumbotron {
  background-color: black;
  height:80px;
}

#authentication {
  float:right;
}

.auth {
  color:grey;
}

#site_title {
  text-align:center;
}

a {
  text-decoration: none;
  font-family: "Abel"
}

.navtab {
  display:inline-block;
  color:grey;
}

#page {
  border: 1px solid black;
}

.module_container {
  border: 1px solid black;
  margin: 5px;
}

#footer {
  background-color: black;
}

#github_link {
  color:grey;
}
