div.pagetitle {
  padding-left: 5px;
  text-transform: capitalize;
  color: #5a5a5a;
  font-family: "Abel";
}

#test {
  text-align: left;
  font-size: 200%;
  color: black;
  padding-bottom: 5px;
  font-weight: normal;
  font-family: "Abel";
}

#page {
  /*border: 1px solid black;*/
  padding: 10px;
  border-radius: 5px;
}
.module_container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  color: black;
}

#content_container {
  padding-left: 20px;
  padding-right: 10px;
}
