{% extends 'log/base.html' %}

{% block content %}
  {{ activity.act_type }}
  {% ifequal activity.act_type "NormalRun" %}
    <div .class="activity_detail_container">
      {{ workout.distance }}
      {{ workout.duration }}
    </div>
  {% endifequal %}

  {% ifequal activity.act_type "IntervalRun" %}
    <div .class="activity_detail_container">
      {{ workout.warmup }}
      {{ workout.cooldown }}
      {{ workout.total_distance }}

      {% for rep in reps %}
        {{ rep.distance }}
        {{ rep.duration }}
        {{ rep.goal_pace }}
      {% endfor %}
    </div>
  {% endifequal %}

  {% ifequal activity.act_type "CrossTrain" %}
    <div .class="activity_detail_container">
      {{ workout.distance }}
      {{ workout.duration }}
      {{ workout.sport }}
    </div>
  {% endifequal %}

  {% ifequal activity.act_type "Event" %}
    <div .class="activity_detail_container">
      {{ workout.distance }}
      {{ workout.duration }}
      more stuff about the meet here
    </div>
  {% endifequal %}

  {{ activity.comment }}
{% endblock %}
