{% extends 'log/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="page">

<div class="container-fluid">
  <h2>Add Interval Workout</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Add Interval Run</div>
        <div class="panel-body">
          <form class="form-horizontal" method="post", name='intervalform'>
              {% csrf_token %}
              {{ form.media }}
              {{ IntervalForm.errors }}

              <div class="control-group date">
                <label class="control-label">Date</label>
                <div class="controls">
                  {{ IntervalForm.date|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">Warm Up</label>
                <div class="controls">
                  {{ IntervalForm.warmup|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">Warm Up Units</label>
                <div class="controls">
                  {{ IntervalForm.wu_units|add_class:"form-control" }}
                </div>
              </div>

              <div>
                <label>Add Repeats</label>
                {% for dict in rep_formset.errors %}
                    {{ dict }}
                {% endfor %}
                {{ rep_formset.management_form }}
                {% for rep_form in rep_formset %}
                  <div class="link-formset">
                    <label>Distance</label>

                      {{ rep_form.rep_distance }}
                      {{ rep_form.rep_units }}

                    <label>Time (HMS)</label>
                      {{ rep_form.duration }}

                    <label>Rest (HMS)</label>
                      {{ rep_form.rep_rest }}

                  </div>
                {% endfor %}
              </div>

              <div class="control-group date">
                <label class="control-label">Cool Down</label>
                <div class="controls">
                  {{ IntervalForm.cooldown|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">Cool Down Units</label>
                <div class="controls">
                  {{ IntervalForm.cd_units|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">User Label for the run</label>
                <div class="controls">
                  {{ IntervalForm.user_label|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">Description</label>
                <div class="controls">
                  {{ IntervalForm.comments|add_class:"form-control" }}
                </div>
              </div>

              <div class="control-group date">
                <label class="control-label">Shoe</label>
                <div class="controls">
                  {{ IntervalForm.shoe|add_class:"form-control" }}
                </div>
              </div>

              {% for field in IntervalForm.hidden_fields %}
                  {{ field }}
              {% endfor %}

              <input type="submit" value="Save Workout" class="button"/>
          </form>

          <!-- Include formset plugin - including jQuery dependency -->
          <script type="text/javascript" src="/static/log/js/dynamic_reps.js"></script>
          <script>
              $('.link-formset').formset({
                  addText: 'Add Repeat',
                  deleteText: 'Remove'
              });
          </script>
        </div>
      </div>
  </div>
</div>
{% endblock %}
