{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block content %}
<div class="page">

  <div class="container-fluid">
  <h1> Add New Athlete </h1>
</div>


{% if IE %}
<div class="alert alert-error">
    <ul>
      <li> ERROR: User with same name already exists </li>
    </ul>
</div>
{% endif %}
<div class = "add-athlete">
    <form  action="/log/add_new_athletes/{{user_id}}/{{team_id}}/{{season_id}}/", method="post" autocomplete="off">
      {% csrf_token %}
      {{ form.media }}

      <!---------------------------------------------------------
    	  Code for generating pretty django forms with bootstrap
    	---------------------------------------------------------->
      {% if form.errors %}
          <div class="alert alert-error">
              <ul>
                  {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          </div>
      {% endif %}

      {% for field in form.visible_fields %}
          <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
              <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
              <div class="controls">
                  <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                  {{ field|add_class:"form-control" }}
                  {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
              </div>
          </div>
      {% endfor %}

      {% for field in form.hidden_fields %}
          {{ field }}
      {% endfor %}

      {% block formsets %}
          {% for formset in inlines %}
              {% include "inline_formset.html" with formset=formset %}
          {% endfor %}
      {% endblock formsets %}
      </br>

      <div class="form-actions">
          <input class="btn btn-primary btn-large" type="submit" value="Add Athlete"/>
          {% block extra_buttons %}
          {% endblock extra_buttons %}
      </div>
    </form>
  </div>

    {% if existing_athletes %}
    <div class= "existing-athletes content-container">
      <div class="panel panel-default">
        <div class="panel-heading">Existing Athletes</div>
        <div class="panel-body">
          {% for athlete in athletes %}
            {{athlete.user.first_name}} {{athlete.user.last_name}}
          </br>
          {% endfor %}
        </div>
      </div>
    </div>
  {%endif %}

</br>

  <div class="container-fluid">
    <a class="btn btn-default" rol = "button" href= "/log/manage_teams/{{user.id}}" > Return to Manage Teams Page </a>
  </div>
</br>
</div>
{% endblock %}
