{% extends 'log/base.html' %}

{% block content %}

  <form method="post">
      {% csrf_token %}

      <label>Date</label>
      {{ IntervalForm.date }}

      <div>
      <label>Warm up</label>
      {{ IntervalForm.warmup }}
      {{ IntervalForm.wu_units }}
      </div>
      <div>
      {{ rep_formset.management_form }}
      <label>Add Repeats</label>
      {% for rep_form in rep_formset %}
          <div class="link-formset">
            <label>Distance</label>
              {{ rep_form.rep_distance }}
              {{ rep_form.rep_units }}

            <label>Time</label>
              {{ rep_form.rep_duration }}

            <label>Rest</label>
              {{ rep_form.rep_rest }}

          </div>
      {% endfor %}
      </div>

      <div>
        <label>Cool Down</label>
        {{ IntervalForm.cooldown }}
        {{ IntervalForm.cd_units }}
      </div>

      <label>Comments</label>
      {{ IntervalForm.comments }}

      <input type="submit" value="Save Workout" class="button"/>
  </form>

  <!-- Include formset plugin - including jQuery dependency -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
  <script>
      $('.link-formset').formset({
          addText: 'Add Repeat',
          deleteText: 'Remove'
      });
  </script>








{% endblock %}
