{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div class="page">

<div class="container-fluid">
  <h2>Add Run</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Add a Run</div>
      <div class="panel-body">
        {% if activity %}
        <form action="/log/athlete/edit_activity/{{activity.id}}/" method="post" autocomplete="off">
        {% else %}
        <form action="/log/athlete/add/" method="post" autocomplete="off">
        {% endif %}
          {% csrf_token %}
          {{ form.media }}

          {% for field in form.visible_fields %}
              <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}" >
                  <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                  <div class="controls">
                      <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                      {{ field|add_class:"form-control" }}
                      {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                  </div>
              </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
              {{ field }}
          {% endfor %}

          <div class="repeats control-group">
            <label>Add Repeats</label>
            {% for dict in rep_formset.errors %}
                {{ dict }}
            {% endfor %}
            {{ rep_formset.management_form }}
            {% for rep_form in rep_formset %}
              <div class="link-formset">

                <label>Distance</label>
                  {{ rep_form.rep_distance }}
                  {{ rep_form.rep_units }}

                <label>Time (HMS)</label>
                  {{ rep_form.duration }}

                <label>Rest</label>
                  {{ rep_form.rep_rest }}

              </div>
            {% endfor %}
          </div>
          </br>

          <div class="form-actions">
              <input class="btn btn-primary btn-large" type="submit" value="Save Activity"/>
              {% block extra_buttons %}
              {% endblock extra_buttons %}
          </div>
        </form>
      </div>
  </div>
</div>
</div>
<script type="text/javascript" src="{% static 'log/js/add.js' %}"></script>
{% endblock %}
