{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
{% if seasons %}
 <div class="container-fluid">
     <h2> {{team}} - All Seasons </h2>
  <div class="panel-group">
      {% for s in seasons %}
        <div class="panel panel-default">
            <div class="panel-body">
              <h3> {{s.year}} </h3>
              {% for athlete in s.athlete_set.all %}
                {{athlete.user.first_name}} {{athlete.user.last_name}}
                </br>
              {% endfor %}
                </br>
                  <a href="/log/add_new_athletes/{{user.id}}/{{t.id}}/{{season.id}}"> Add New Athlete </a>
                </br>
                  <a href="/log/add_athletes/{{user.id}}/{{t.id}}/{{season.id}}"> Add Existing Athlete </a>
                </br>
              </div>
            </div>
      {% endfor %}
        </div>

    {% else %}
    <div class="container-fluid">
        <h2> {{team}} - No Seasons </h2>
    </div>
    {% endif %}

            </br>
      <a href="/log/create_season/{{user.id}}/{{t.id}}">Add Season</a>
  </div>

  <a href= "/log/manage_teams/{{user_id}}" > Return to Manage Teams Page </a>


{% endblock %}
