{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page">

{% if seasons %}
 <div class="container-fluid">
     <h2> All Seasons - {{team}} </h2>
      {% for s in seasons %}
        <div class="panel panel-default">
          <div class="panel-heading">{{s.year}} Season</div>
            <div class="panel-body">
              <!-- <h3> Athletes </h3> -->
              {% if not s.athlete_set.all.first %}
                No Athletes
              </br>
              {%endif%}
              {% for athlete in s.athlete_set.all %}
                {{athlete.user.first_name}} {{athlete.user.last_name}}
                </br>
              {% endfor %}
                </br>
                <a class="btn btn-default" href="/log/add_new_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add New Athlete</a>
                <a class="btn btn-default" href="/log/add_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add Existing Athlete</a>
                </br>
              </div>
            </div>
      {% endfor %}
      <div class="panel panel-default">
          <div class="panel-body">
            <a class="btn btn-default" role= "button" href="/log/create_season/{{user.id}}/{{team.id}}">Add Season</a>
            <a class="btn btn-default" role= "button" href= "/log/manage_teams/{{user_id}}" > Return to Manage Teams Page </a>
          </div>
        </div>
  </div>


    {% else %}
    <div class="container-fluid">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2> {{team}} - No Seasons </h2>
            <a class="btn btn-default" role= "button" href="/log/create_season/{{user.id}}/{{team.id}}">Add Season</a>
            <a class="btn btn-default" role= "button" href= "/log/manage_teams/{{user_id}}" > Return to Manage Teams Page </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
