{% extends 'log/base.html' %}

{% block content %}
  Athlete page
  <a href="/log/athlete/add/normal/">Normal Run</a>
  <a href="/log/athlete/add/intervals/">Interval Workout</a>
  <a href="/log/athlete/add/xtrain/">Cross Train</a>
  <a href="/log/athlete/add/race/">Race</a>
  <div id="page">
    <div class="module_container">
      Mileage
      -graph here-
    </div>
    <div class="module_container">
      {% for r in normal_runs %}
        <p>{{ r }}</p>
      {% endfor %}
    </div>
    <div class="module_container">
      Statistics?
    </div>
  </div>
{% endblock %}
