{% extends 'log/base.html' %}
{% load staticfiles %}
{% load tags %}
{% load widget_tweaks %}

{% block content %}
<div class="page">
    <div class="container-fluid">
    <div class="title panel panel-default">
        <div class="panel-footer">
            <h2>{{ athlete_user.first_name }} {{ athlete_user.last_name}}</h2>
        </div>
    </div> 
    <div id="dialog2" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <!--<h4 class="modal-title">Modal title</h4>-->
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
        <div class="panel panel-default">
          <div class="panel-heading">Mileage</div>
            <div class="panel-body">

                <!--Load the script with the actual mileage graph in it -->
                <script type="text/javascript">
                    var show_range_graph_first = {{ show_range_first|safe }};

                    {% if year_graph_data %}
                    var year_graph_data = {{ year_graph_data|safe }}
                    {% else %}
                    var year_graph_data = null;
                    {% endif %}

                    {% if month_graph_data %}
                    var month_graph_data = {{ month_graph_data|safe }}
                    {% else %}
                    var month_graph_data = null;
                    {% endif %}

                    {% if week_graph_data %}
                    var week_graph_data = {{ week_graph_data|safe }}
                    {% else %}
                    var week_graph_data = null;
                    {% endif %}

                    {% if range_graph_data %}
                    var range_graph_data = {{ range_graph_data|safe }}
                    {% else %}
                    var range_graph_data = null;
                    {% endif %}
                </script>

                  <!--Div that will hold the bar chart-->
                <div id="year_mileage_graph" class="graph"></div>
                <div id="month_mileage_graph" style="width: 100%"></div>
                <div id="week_mileage_graph" style="width: 100%"></div>
                <div id="date_range_graph" style="width: 100%">
                </div>
            </div>
            <div class="panel-footer">
                <div id= "mileage_options">
                    <div class="graph_option btn btn-primary" id="current_year_selector">Year</div>
                    <div class="graph_option btn btn-primary" id="current_month_selector">Month</div>
                    <div class="graph_option btn btn-primary" id="current_week_selector">Week</div>
                    <div class="graph_option btn btn-primary" id="range_selector">Range</div>
                </div>
                <form action="" display="none" id="range_form" method='post'>
                  {% csrf_token %}
                  {{ form.media }}
                  {% if form.errors %}
                      <div class="alert alert-error">
                          <ul>
                              {% for error in form.non_field_errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}

                  {% for field in form.visible_fields %}
                      <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}" style="display:inline-block;">
                          <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                          <div class="controls">
                              <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                              {{ field|add_class:"form-control" }}
                              {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                          </div>
                      </div>
                  {% endfor %}

                  <div class="form-actions" style="display:inline-block;">
                      <input class="btn btn-primary" role="button" type="submit" value="Show Mileage"/>
                      {% block extra_buttons %}
                      {% endblock extra_buttons %}
                  </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Workout History</div>
          <div class="panel-body">
            <table id="workoutTable">
              <tr>
                <th><h4>Date</h4></th>
                <th><h4>Distance</h4></th>
                <th><h4>Pace</h4></th>
                <th><h4>Type</h4></th>

              </tr>
              {% for r in all_runs %}
                <!-- <a href="/log/athlete/activity_detail/{{ r.activity_id }}"> -->
                <tr class="clickable-row" data-href="/log/athlete/activity_detail/{{ r.activity_id }}">
                  <td>
                    {{ r.activity.date|date:"l" }} {{ r.activity.date }}
                  </td>
                  <td>
                    {{ r.distance }}{{ r.units|format_units }}
                  </td>
                  <td>
                    {% ifequal r.activity.act_type "IntervalRun" %}
                        -
                    {% endifequal %}

                    {% ifequal r.activity.act_type "Event" %}
                      {{ r.pace|format_pace }}
                    {% endifequal %}

                    {% ifequal r.activity.act_type "NormalRun" %}
                      {{ r.pace|format_pace }}
                    {% endifequal %}

                    {% ifequal r.activity.act_type "CrossTrain" %}
                        -
                    {% endifequal %}
                  </td>
                  <td>
                    {{ r.activity.user_label }}
                  </td
                </tr>

              <!-- </a> -->
              {% endfor %}
            </table>
        </div>
        <div class="panel-footer">
        <div class="btn btn-primary" role="button" id="show-all">Show All</div>
        </div>
    </div>
        <div class="panel panel-default">
          <div class="panel-heading">Personal Records</div>
          <div class="panel-body">
          {% for pr in prs %}
            <div>
              <p>{{ pr.distance }} {{ pr.units }}:
              {{ pr.duration }}
              (at {{ pr.meet.location }} {{ pr.activity.date }})
              </p>
            </div>
          {% endfor %}

            </div>
        </div>
      </div>
</div>

<script type="text/javascript">
    $("table > tbody > tr").hide().slice(0, 20).show();
    $("#show-all").on("click", function() {
        $('#workoutTable tr').show();
      //$("tbody > tr", $(this).prev()).show();
    });

  $(document).ready(function($) {
      $(".clickable-row").click(function() {
          //window.document.location = $(this).data("href");
      });
  });

  $(document).ready(function() {
    $('.clickable-row').bind("mouseover", function(){
        var color = $(this).css("background-color");
        $(this).css("background", "#C9E1C1");
        $(this).bind("mouseout", function(){
            $(this).css("background", color);
        })
    })

    $(".clickable-row").hover(function() {
            $(this).css({"cursor": "pointer"});
    });
 });
 // Adjiust width of mileage input fields
 $("#id_start_date").css("width", "150px");
 $("#id_end_date").css("width", "150px");

</script>
<script type="text/javascript" src="{% static 'log/js/mileage.js' %}"></script>
{% endblock %}
