{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
  <link rel="stylesheet" type="text/css", href="{% static 'log/css/index.css' %}" />
  <link rel="stylesheet" type="text/css", href="{% static 'log/css/header_footer.css' %}" />
  <link rel="stylesheet" type="text/css", href="{% static 'log/css/layout.css' %}" />
  <link rel="stylesheet" type="text/css", href="{% static 'log/css/navbar.css' %}" />
</head>
<div>
  <div id="jumbotron">

    <div id="authentication">
      {% if user.is_authenticated %}
        <a class="auth" href="/log/athlete/"> Hi {{ user.first_name }}</p>
        <a  class="auth" href="/log/logout/">Logout</a>
      {% else %}
        <a class="auth" href="/log/login/">Login</a>
        <a  class="auth" href="/log/signup/">Signup</a>
      {% endif %}
    </div>

    <div id="site_title">
      <a href="/log">
        <!-- <img src="http://i.imgur.com/uFqTuKx.png"> -->
        <img src="http://i.imgur.com/JZLVCcl.png">
      </a>
    </div>

    <div id="navbar">
      <a class='navtab' href="/log/team/">
        <div>
          TEAM
        </div>
      </a>
      <a class='navtab' href="/log/workout_templates/">
        <div>
          WORKOUTS
        </div>
      </a>
      <a class='navtab' href="/log/calendar/">
        <div>
          CALENDAR
        </div>
      </a>
      <a class='navtab' href="/log/team_stats/">
        <div>
          STATS
        </div>
      </a>
    </div>

  </div>
</div>
  <div id="content_container">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    <a id="github_link" href="https://github.com/jhpierce/keeptrack">GITHUB</a>
  </div>
</body>
