{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
  <link rel="stylesheet" type="text/css", href="{% static 'log/css/index.css' %}" />
</head>
<div>
  <div id="jumbotron">
    <div id="user_stuff">
      {% if user.is_authenticated %}
        <a href="/log/athlete/"> Hi {{ user.first_name }}</p>
        <a href="/log/logout/">Logout</a>
      {% else %}
        <a href="/log/login/">Login</a>
        <a href="/log/signup/">Signup</a>
      {% endif %}
    </div>
    <div id="navbar">
      <a href="/log/team/">TEAM</a>
      <a href="/log/workout_templates/">WORKOUTS</a>
      <a href="/log/calendar/">CALENDAR</a>
      <a href="/log/team_stats/">STATS</a>
    </div>

  </div>
</div>
  <div id="content_container">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    This is the footer
  </div>
</body>
