<div>

  <!-- Core CSS -->
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/index.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/header_footer.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/layout.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/navbar.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/tables.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/add_workout.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/thread.css' %}" />
    <link rel="stylesheet" type="text/css", href="{% static 'log/css/athlete.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  </head>

  <!-- Navigation -->
  <div class="nav">
    <div class="container-fluid">
      <ul class="pull-left nav nav-pills">
          {% if user.athlete_set.all %}
            <li><a href="/log/athlete/{{ user.id }}/">Athlete</a></li>
            <li><a href="/log/team/">Team</a></li>
          {% endif%}

          {% if user.coach_set.all %}
            <li><a href="/log/team/">Home</a></li>
          {% endif%}

          {% if user.athlete_set.all or user.coach_set.all %}
            <li><a href="/log/workout_templates/">Workouts</a></li>
            <li><a href="/log/calendar/">Calendar</a></li>
            <li><a href="/log/team_stats/">Stats</a></li>
          {% endif %}
      </ul>
    </div>
  </div>

  <!-- BODY -->
  <body>
    <!-- <script src="jquery.min.js"></script> -->
    <!--script src="???></script-->

    <!-- Jumbotron -->
    <div class="jumbotron">
     <div class="container-fluid">
       <div id="authentication">
         {% if user.is_authenticated %}
            {% if user.coach_set.all %}
              <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Hi Coach {{ user.last_name }}
                 <span class="caret"></span></button>
                 <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                   <li role="presentation"><a role="menuitem" tabindex="-1" href="/log/manage_teams/{{user.id}}">Manage Teams</a></li>
                 </ul>
                </div>
            {% endif %}
            {% if user.athlete_set.all  %}
              <a class="auth" href="/log/athlete/{{user.id}}"> Hi {{ user.first_name }}</a>
            {% endif %}
           <a  class="auth" href="/log/logout/"> Logout </a>
         {% endif %}
       </div>
     </div>
   </div>

   <div id="content_container">
      {% block content %}
      {% endblock %}
   </div>

    <div class="footer">
      <a id="github_link" href="https://github.com/jhpierce/keeptrack">GITHUB</a>
    </div>
  </body>

</div>
