{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div id="page">

<div class="container-fluid">
  <h2>Help us improve KeepTrack </h2>
    <div class="panel panel-default">
      <div class="panel-heading">Submit A Bug!</div>
      <div class="panel-body">
        <form action="/log/submit_bug/" method="post" autocomplete="off">
          {% csrf_token %}
          {{ form.media }}
          {% if form.errors %}
              <div class="alert alert-error">
                  <ul>
                      {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}

          {% for field in form.visible_fields %}
              <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                  <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                  <div class="controls">
                      <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                      {{ field|add_class:"form-control" }}
                      {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                  </div>
              </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
              {{ field }}
          {% endfor %}

          {% block formsets %}
              {% for formset in inlines %}
                  {% include "inline_formset.html" with formset=formset %}
              {% endfor %}
          {% endblock formsets %}
          </br>

          <div class="form-actions">
              <input class="btn btn-primary btn-large" type="submit" value="Submit Bug"/>
              {% block extra_buttons %}
              {% endblock extra_buttons %}
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Current Bugs
      </div>
      <div class="panel-body">
        {% for bug in bugs %}
          <div style="border:1px solid black;border-radius:5px;margin:10px;padding:5px;">
            {{ bug }} <a style="float:right" href="/log/delete_bug/{{bug.id}}/">Delete</a>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
</div>
{% endblock %}
