{% extends 'log/base.html' %}
{% load staticfiles %}
{% block content %}

  <h1>Calendar</h1>

  <script type="text/javascript" src="{% static 'log/js/calendar.js' %}"></script>
  <div id="page">
  {% for date, week in weeks %}
    <div class="module_container">
      <h2>Week {{ forloop.counter }}</h2>
      <h4>{{ date.0 }} - {{ date.1 }}</h4>
      <hr>

        <!------------------------------------------------------------------->
        <!-- Week Table -->
        <!------------------------------------------------------------------->
        <table class="table">
          <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr class=events>
            {% for day in week %}
              <td class="day">
              {% for event in day %}
                <div class="event">
                  {{ event.summary }}
                </div>
              {% endfor %}
              </td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}
