{% extends 'log/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="page">
  <div = class="container-fluid">
    <h2 style="display:inline-block">Calendar</h2>
    <div class='change_time' style="float:right;">
      <a class='btn' href="/log/calendar/select_time_period/">Select Time Period</a>
    </div>

    <script type="text/javascript" src="{% static 'log/js/calendar.js' %}"></script>

    <div class="panel-group">
    {% for date, week in weeks %}
      <div class="panel panel-default">
        <div class="panel-heading">Week {{ forloop.counter }} ({{ date.0 }} - {{ date.1 }})</div>
        <div class="panel-body">
          <!------------------------------------------------------------------->
          <!-- Week Table -->
          <!------------------------------------------------------------------->
          <table class="table">
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr class=week>
              {% for day in week %}
                <td class="day">
                {% for event in day %}
                  <div class="event">
                    {{ event.summary }}
                  </div>
                {% endfor %}
                </td>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% empty %}
      <h3>There is no current season. Select a time period using the button above.</h3>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
