{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
    <form action="/log/create_team/{{user.id}}/", method="POST">
    {% csrf_token %}
    <div id="entry_container">
      {{form.school.label}}
      </br>
      {{ form.school }}
      </br></br>

      {{form.gender.label}}
      </br>
      {{ form.gender }}
      </br></br>

      {{form.sport.label}}
      </br>
      {{ form.sport }}
      </br></br>

      {{form.year.label}}
      </br>
      {{ form.year }}
      </br></br>

      {{form.start_date.label}}
      </br>
      {{ form.start_date }}
      </br></br>

      {{form.end_date.label}}
      </br>
      {{ form.end_date }}
      </br></br>

      <input type="submit" value="Submit">
      <input type="hidden" name = "next" value="{{ request.GET.next }}">

    </div>
  </form>

{% endblock %}
