{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
  <script type='text/javascript'>

  </script>
  <form action="/log/create_team/{{user_id}}/", method="post">
    {% csrf_token %}
    <div id="entry_container">
      <p>
        <label for="school">School: </label>
        <input type="text" name="school" value="" id="school">
      </br>
        <label for="team">Team: </label>
        <input type="text" name="team" value="" id="team">
      </br>
        <label for="season">Season: </label>
        <input type="text" name="season" value="" id="season">
      </br>
      </br>
        <label for="start_date">Start Date: </label>
        <input type="datetime" name="start_date" value="" id="start_date">
      </br>
        <label for="end_date">End Date: </label>
        <input type="datetime" name="end_date" value="" id="end_date">
      </br>
        <input type="submit" value="Submit">
        <input type="hidden" name = "next" value="{{ request.GET.next }}" />
      </p>
    </div>
  </form>

{% endblock %}
