{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}

    <p> Add a season for {{team}} </p>

    <form action="/log/create_season/{{user.id}}/{{team.id}}", method="POST">
    {% csrf_token %}
    <div id="entry_container">
      {{form.year.label}}
      </br>
      {{ form.year }}
      </br></br>

      {{form.start_date.label}}
      </br>
      {{ form.start_date }}
      </br></br>

      {{form.end_date.label}}
      </br>
      {{ form.end_date }}
      </br></br>

      <input type="submit" value="Submit">
      <input type="hidden" name = "next" value="{{ request.GET.next }}">

    </div>
  </form>

{% endblock %}
