{% extends 'log/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
  <h2>Edit</h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Edit</div>
        <div class="panel-body">
          {% if rep_formset %}
            <form method="post", name='intervalform' action="/log/athlete/edit_activity/{{ activity.id }}/">
                {% csrf_token %}

                {% if IntervalForm.errors %}
                    <div class="alert alert-error">
                        <ul>
                            {% for error in IntervalForm.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="control-group date">
                  <label class="control-label">Date</label>
                  <div class="controls">
                    {{ IntervalForm.date|add_class:"form-control" }}
                  </div>
                </div>

                <div class="control-group date">
                  <label class="control-label">Warm Up</label>
                  <div class="controls">
                    {{ IntervalForm.warmup|add_class:"form-control" }}
                  </div>
                </div>

                <div class="control-group date">
                  <label class="control-label">Warm Up Units</label>
                  <div class="controls">
                    {{ IntervalForm.wu_units|add_class:"form-control" }}
                  </div>
                </div>

                <div>
                  {{ rep_formset.management_form }}
                  <label>Add Repeats</label>
                  {% for rep_form in rep_formset %}
                    <div class="link-formset">
                      <label>Distance</label>

                        {{ rep_form.rep_distance }}
                        {{ rep_form.rep_units }}

                      <label>Time (HMS)</label>
                        {{ rep_form.duration }}

                      <label>Rest (HMS)</label>
                        {{ rep_form.rep_rest }}

                    </div>
                  {% endfor %}
                </div>

                <div class="control-group date">
                  <label class="control-label">Cool Down</label>
                  <div class="controls">
                    {{ IntervalForm.cooldown|add_class:"form-control" }}
                  </div>
                </div>

                <div class="control-group date">
                  <label class="control-label">Cool Down Units</label>
                  <div class="controls">
                    {{ IntervalForm.cd_units|add_class:"form-control" }}
                  </div>
                </div>

                <div class="control-group date">
                  <label class="control-label">Description</label>
                  <div class="controls">
                    {{ IntervalForm.comments|add_class:"form-control" }}
                  </div>
                </div>

                <div class="control-group date">
                  <label class="control-label">User Label</label>
                  <div class="controls">
                    {{ IntervalForm.user_label|add_class:"form-control" }}
                  </div>
                </div>

                <input type="submit" value="Update Workout" class="btn btn-primary btn-large"/>
              </form>

            <!-- Include formset plugin - including jQuery dependency -->
            <script type="text/javascript" src="/static/log/js/dynamic_reps.js"></script>
            <script>
                $('.link-formset').formset({
                    addText: 'Add Repeat',
                    deleteText: 'Remove'
                });

            </script>
          {% else %}
            <form action="/log/athlete/edit_activity/{{ activity.id }}/" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.media }}
                {% if form.errors %}
                    <div class="alert alert-error">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}" style='{% ifequal field.name "duration"%}display:inline-block{% endifequal %}'>
                        <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                        <div class="controls">
                            <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                {% block formsets %}
                    {% for formset in inlines %}
                        {% include "inline_formset.html" with formset=formset %}
                    {% endfor %}
                {% endblock formsets %}
                </br>

                <div class="form-actions">
                    <input class="btn btn-primary btn-large" type="submit" value="Update Run"/>
                    {% block extra_buttons %}
                    {% endblock extra_buttons %}
                </div>
            </form>
          {% endif %}
          <script>
          // make the duration inputs narrower and side-by-side
            $("#id_duration_0").css("display", "inline-block");
            $("#id_duration_1").css("display", "inline-block");
            $("#id_duration_2").css("display", "inline-block");
            $("#id_duration_0").css("width", "45px");
            $("#id_duration_1").css("width", "45px");
            $("#id_duration_2").css("width", "45px");
            $("<p id=pace style='display:inline-block;padding-left:10px;'></p>").insertAfter( "#id_duration_2" );

            function set_pace() {
              console.log("hello")
              $("#pace").text(
                function() {
                  var seconds = parseInt($("#id_duration_0").val()) * 60 * 60 +
                    parseInt($("#id_duration_1").val()) * 60 +
                    parseInt($("#id_duration_2").val());
                  var distance = $("#id_distance").val();
                  if ($("#id_units").val() === "Kilometers") {
                    distance = distance * 0.6213
                  }
                  var seconds_per_mile = seconds / distance;
                  var total_seconds = Math.floor(seconds_per_mile % 60).toString();
                  var total_minutes = Math.floor(seconds_per_mile / 60).toString();
                  if (total_seconds.length === 1) {
                    total_seconds = "0".concat(total_seconds)
                  }
                  $("#pace").text(total_minutes.concat(':',total_seconds, " Min/Mile"));

                }
              )
            }

            $("#id_distance").change(set_pace);
            $("#id_duration_0").change(set_pace);
            $("#id_duration_1").change(set_pace);
            $("#id_duration_2").change(set_pace);
            $("#id_units").change(set_pace);
          </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
