{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="page">

<div class="container-fluid">
    <h2>Site Instructions</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Signup</div>
            <div class="panel-body">
                <h3>What is a Program?</h3>
                <ul>
                    <li>e.g Hamilton College Men</li>
                    <li>The school and gender for which the coach signs up</li>
                    <li>A coach’s account is only associated with one program</li>
                </ul>
                <h3>What is a Team?</h3>
                <ul>
                    <li>e.g Indoor Track and Field</li>
                    <li>Options: Indoor Track and Field, Outdoor Track and Field, Cross Country</li>
                    <li>A coach can manage one or all of these teams</li>
                </ul>
                <h3>What is a Season?</h3>
                <ul>
                    <li>The year of the team, e.g 2017</li>
                    <li>A team can have multiple seasons, managed by the coach of that team</li>
                    <li>Athletes are a part of seasons, and can be a part of many seasons at a time</li>
                </ul>
                <h3>If the Program does not exist</h3>
                <ul>
                    <li>On the login page, press signup as coach and fill in the necessary information</li>
                    <li>When you sign up, you become the primary coach for the program (e.g. the Hamilton College Men’s)</li>
                    <li>Choose an initial team that you want to create (e.g. Indoor Track and Field). You will be able to add additional teams later.</li>
                    <li>After signing up, head to the manage teams page to create seasons and add athletes and more coaches.</li>
                </ul>
                <h3>If the Program exist</h3>
                <ul>
                    <li>You can be added to teams by the primary coach for the program</li>
                    <li>IMPORTANT: If you sign up on the main page, you will not be associated with any existing program. You must be added by the primary coach.</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Managing Teams and Seasons</div>
            <div class="panel-body">
                <h3>Where?</h3>
                <ul>
                    <li>Navigate to the manage teams page through the drop-down menu on the far right of the navigation bar</li>
                    <li>On the main page, you can see the current season for each of your teams</li>
                </ul>

                <h3>Adding Athletes</h3>
                <ul>
                    <li> To add a new athlete to a season, press Add Athlete and fill out the necessary information. This will create new accounts for new athletes</li>
                    <li>To add an existing athlete to a season, press Add Existing Athletes. You can choose any amount of pre-existing athletes on your teams to add to the season</li>
                </ul>

                <h3>Adding Seasons</h3>
                <ul>
                    <li>Go to the team for which you’d like to add a season and click Add New Season.</li>
                    <li>Choose the season year and start and end dates and press Create Season. </li>
                    <li>Add athletes as necessary, you can add more later as well.</li>
                </ul>

                <h3>View All Seasons</h3>
                <ul>
                    <li>Go to the team for which you’d like to view all seasons and click View All Seasons </li>
                </ul>

                <h3>Add another Coach</h3>
                <ul>
                    <li>At the bottom of the page, click Add Additional Coach </li>
                    <li>Fill out the necessary information, this will create a new account for a new coach </li>
                    <li>The new coach will be added to all of the teams that you manage and have full permissions</li>
                </ul>

                <h3>Adding a Team</h3>
                <ul>
                    <li>At the bottom of the page, click Add Team</li>
                    <li>Pick which team you’d like to add and submit</li>
                    <li> Note: This button will not appear if you already manage three teams (Indoor Track and Field, Outdoor Track and Field, Cross Country)</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Athlete Help</div>
            <div class="panel-body">
                <h3>Data Addition</h3>
                <ul>
                    <li>You can either import data from Running2Win (see instructions on that page) OR</li>
                    <li>Add data manually by clicking on your name, and selecting the type of workout you would like to add</li>
                </ul>

                <h3>Data editing and deleting</h3>
                <ul>
                    <li>To edit workouts, navigate to your home page, and click ‘edit’ under the actions section of the workout table. Alternatively, select the workout (either on the list or a graph) and when the detailed view loads, click edit</li>
                    <li>To delete a workout, navigate to the workouts detail view and click ‘delete’ in the upper right hand corner</li>
                </ul>

                <h3>Wardrobe</h3>
                <ul>
                    <li>To change the location of the wardrobe advice, navigate to your settings page (by clicking your name) and type in a new location</li>
                </ul>

                <h3>Privacy</h3>
                <ul>
                    <li>Your coach will always be able to see your log, but you can choose whether or not your teammates can see your log. Navigate to your settings (by clicking on your name) and check or uncheck the ‘log private’ box</li>
                </ul>

                <h3>Calendar</h3>
                <ul>
                    <li>Fairly obvious</li>
                </ul>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Calendar</div>
            <div class="panel-body">
                <h3>General</h3>
                <ul>
                    <li>The calendar tab shows you a weekly breakdown of the events happening in your current season. You can see the start time of each event by hovering over it</li>
                    <li>If you are not currently in season or would like to pick a different season/team or date range, you can do so by clicking the links in the upper left corner and following the instructions</li>
                </ul>

                <h3>Coach</h3>
                <ul>
                    <li>When you are added to a team, you are automatically given access to the Google calendar associated with that team</li>
                    <li>To add or delete events, go to <a href="https://calendar.google.com/calendar">Google Calendar</a> and manage events as you would normally</li>
                </ul>

            </div>
        </div>
</div>
</div>

{% endblock %}
