{% extends 'log/base.html' %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password. Note that username and password are case sensitive</p>
  {% endif %}

    <form action="/log/login/" method="post">
      {% csrf_token %}
      <div id="entry_container">
        <p>
        <label for="username">User Name: </label>
        <input type="text" name="username" value="" id="username">
      </br>
        <label for="password">Password: </label>
        <input type="password" name="password" value="" id="password">
      </br>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      </p>
      </div>
    </form>

{% endblock %}
