{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page">

 <div class="container-fluid">
    <div class="title panel panel-default">
        <div class="panel-footer">
            <h2 style="display:inline-block"> Manage Teams </h2>
            <div class='change_time' style="float:right;">
            {% if not full_team %}
                <a class="btn btn-primary" role= "button" href="/log/add_team/{{user.id}}/"> Add New Team </a>
            {% endif %}
                <a class="btn btn-primary" role= "button" href="/log/add_coach/{{user_id}}/"> Add New Coach </a>
              </div>
        </div>
    </div>
    {% for t, season, existing_athletes in team_set %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ t }}</div>
            <div class="panel-body">
              <a class="btn btn-default"  href="/log/all_seasons/{{user_id}}/{{t.id}}" role="button">Manage Seasons</a>


            {% if season %}
              <h3> {{season.year}} Season </h3>
                    {% if not season.athlete_set.all.first %}
                      No Athletes
                    </br>
                    {%endif%}
                    {% for athlete in season.athlete_set.all %}
                      {{athlete.user.first_name}} {{athlete.user.last_name}}
                    </br>
                    {% endfor %}
              </br>

                {% else %}
                <h3> No Seasons </h3>
                {% endif %}

          </div>
            <div class="panel-footer">
                {% if season %}
                <a class="btn btn-primary" href="/log/add_new_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add New Athlete</a>
                  {% if existing_athletes %}
                    <a class="btn btn-primary" href="/log/add_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add Existing Athletes</a>
                  {% else %}
                    <a class="btn btn-primary" disabled = "disabled"  role="button">Add Existing Athletes</a>
                  {% endif %}
                {% endif %}
            </div>
        </div>
      {% endfor %}

  </br>

</div>
</div>


{% endblock %}
