{% extends 'log/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="container-fluid">
     <h2> Manage Teams </h2>
    {% for t, season in team_set %}

        <div class="panel panel-default">
            <div class="panel-heading">{{ t }}</div>
            <div class="panel-body">
              <a class="btn btn-default" href="/log/all_seasons/{{user_id}}/{{t.id}}" role="button">Manage Seasons</a>


            {% if season %}
              <h3> {{season.year}} Season </h3>
                    {% for athlete in season.athlete_set.all %}
                      {{athlete.user.first_name}} {{athlete.user.last_name}}
                    </br>
                    {% endfor %}
                 </br>
                  <a class="btn btn-default" href="/log/add_new_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add New Athlete</a>
                  <a class="btn btn-default" href="/log/add_athletes/{{user.id}}/{{t.id}}/{{season.id}}" role="button">Add Existing Athlete</a>

                </br>
              </br>


                {% else %}
                <h3> No Seasons </h3>
                {% endif %}

          </div>
        </div>
      {% endfor %}
      <div class="panel panel-default">
        <div class="panel-body">
          {% if not full_team %}
            <a href="/log/add_team/{{user.id}}/"> Add New Team </a>
          </br>
          {% endif %}
          <a href="/log/add_coach/{{user_id}}/"> Add Additional Coach </a>
        </div>
      </div>

  </br>

</div>

{% endblock %}
