{% extends 'log/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<div class="page">


<script>console.log("{{ note }}");</script>

<div class="container-fluid">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">Select Date Range</div>
    <div class="panel-body">
      <form class="form-horizontal" action="/log/calendar/select_time_period/" method="POST"
       {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form.media }}

        <!---------------------------------------------------------
      	  Code for generating pretty django forms with bootstrap
      	---------------------------------------------------------->
        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                <div class="controls">
                    <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                </div>
            </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% block formsets %}
            {% for formset in inlines %}
                {% include "inline_formset.html" with formset=formset %}
            {% endfor %}
        {% endblock formsets %}
        </br>

        <div class="form-actions">
            <input class="btn btn-primary btn-large" type="submit" value="Done"/>
            {% block extra_buttons %}
            {% endblock extra_buttons %}
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
