<!----------------------------------------------------------------------------
PURPOSE: 			The team page is the home screen for
                    the coach. It can also be be accessed
                    via the 'TEAM' button on the navbar
CONNECTED FILES:	/log/base.html
				    /static/log/js/team.js
				    /static/log/js/tablesorter/jquery-latest.js
                    /static/log/js/tablesorter/jquery.tablesorter.js
----------------------------------------------------------------------------->
{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <div>
        {% if no_season_alert %}
            <h4>{{ no_season_alert }}</h4>
        {% else %}
            <div class="container-fluid">
                <h2> {{ title }} </h2>
                    <div class="panel-group">

                        <div class="panel panel-default">
                            <div class="panel-heading">ANNOUNCEMENTS</div>
                            <div class="panel-body">
                                {% for a in announcements %}
                                    <h3>{{ a.posted_date|date:"l" }}, {{ a.posted_date }}</h3>
                                    {{ a.text }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel panel-default calendar">
                            <div class="panel-heading">CURRENT WEEK</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Monday</th>
                                                <th>Tuesday</th>
                                                <th>Wednesday</th>
                                                <th>Thursday</th>
                                                <th>Friday</th>
                                                <th>Saturday</th>
                                                <th>Sunday</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class=week>
                                                {% for day in week.1 %}
                                                    <td class="day">
                                                {% for event in day %}
                                                    <div class="event well">{{ event.summary }}</div>
                                                {% endfor %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">ATHLETES</div>
                                <div class="panel-body">
                                <!--------------------------------------------------------------------
                                Athlete Table div that will later be filled
                                --------------------------------------------------------------------->
                                <div class="table table-hover" id="athletes" style="width: 100%">
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
        <h3 style=margin-left:20px;>View other Season</h3>
        <form action="/log/team/" method="post" autocomplete="off">
          {% csrf_token %}
          {{ form.media }}
          {% if form.errors %}
              <div class="alert alert-error">
                  <ul>
                      {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}

          {% for field in form.visible_fields %}
              <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                  <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                  <div class="controls">
                      <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                      {{ field|add_class:"form-control" }}
                      {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                  </div>
              </div>
          {% endfor %}

          {% for field in form.hidden_fields %}
              {{ field }}
          {% endfor %}

          {% block formsets %}
              {% for formset in inlines %}
                  {% include "inline_formset.html" with formset=formset %}
              {% endfor %}
          {% endblock formsets %}
          </br>

          <div class="form-actions">
              <input class="btn btn-primary btn-large" type="submit" value="View Season"/>
              {% block extra_buttons %}
              {% endblock extra_buttons %}
          </div>
        </form>

    </div>
    <script type="text/javascript">

        /*------------------------------------------------------------------------
        Passing along data to 'team.js' for tables
        ------------------------------------------------------------------------*/
        var athleteData = {{athleteData|safe}};
        var meetData = {{meetData|safe}}
        var userIDs = {{userIDs}}
    </script>

    <script type="text/javascript" src="/static/log/js/team.js"></script>
{% endblock %}
