<!----------------------------------------------------------------------------
PURPOSE: 			The team page is the home screen for
                    the coach. It can also be be accessed
                    via the 'TEAM' button on the navbar
CONNECTED FILES:	/log/base.html
				    /static/log/js/team.js
----------------------------------------------------------------------------->
{% extends 'log/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="page">

    <div>
        <div class="container-fluid">
            <div class="title panel panel-default">
                <div class="panel-footer">
                    {% if no_season_alert %}
                      <h4> No Seasons to View </h4>
                      <p> Go to the manage teams page to add teams and seasons </p>
                    {% else %}
                    <h2> {{ title }} </h2>
                    <form id="view-form" action="/log/team/" method="post" autocomplete="off">
                      {% csrf_token %}
                      {{ form.media }}
                      {% if form.errors %}
                          <div class="alert alert-error">
                              <ul>
                                  {% for error in form.non_field_errors %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}

                      {% for field in form.visible_fields %}
                          <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                              <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                              <div class="controls">
                                  <!-- |add_class is a widget tweak that helps connects the django forms to the bootstrap -->
                                  {{ field|add_class:"form-control" }}
                                  {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                              </div>
                          </div>
                      {% endfor %}

                      {% for field in form.hidden_fields %}
                          {{ field }}
                      {% endfor %}

                      {% block formsets %}
                          {% for formset in inlines %}
                              {% include "inline_formset.html" with formset=formset %}
                          {% endfor %}
                      {% endblock formsets %}
                      <div class="form-actions">
                          <input class="btn btn-primary btn-large" type="submit" value="View"/>
                          {% block extra_buttons %}
                          {% endblock extra_buttons %}
                      </div>
                    </form>
                </div>
            </div>
            <div id="dialog2" class="modal fade">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!--<h4 class="modal-title">Modal title</h4>-->
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    ANNOUNCEMENTS
                </div>
                <div class="panel-body">
                    {% for a in announcements %}
                        <h3>{{ a.posted_date|date:"l" }}, {{ a.posted_date }}</h3>
                        {{ a.text }}
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default calendar">
                <div class="panel-heading">
                    CURRENT WEEK
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=week>
                                {% for day in week.1 %}
                                    <td class="day">
                                {% for event in day %}
                                    <a class="event well" data-content="{{event.dateInfo}}" data-toggle="popover">{{event.summary}}</a>
                                {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    RECENT ACTIVITY
                </div>
                <div class="panel-body">
                    <h4>Today</h4>
                    {% for w in workouts_today %}
                      <div style="margin-bottom:15px;border:1px solid #dcc7aa;border-radius:5px;padding:5px;">
                        {{ w.activity.athlete.user.first_name }} ran {{ w.distance }}
                        {% if w.activity.comment != "" %}
                          ({{ w.activity.comment }})
                        {% endif %}
                        <div style="float:right;padding-right:10px;">
                          <a class="clickable-row" data-href="/log/athlete/activity_detail/{{w.activity_id}}">VIEW</a>
                        </div>
                      </div>
                    {% endfor %}

                    <h4>Yesterday</h4>
                    {% for w in workouts_yesterday %}
                      <div style="margin-bottom:15px;border:1px solid #dcc7aa;border-radius:5px;padding:5px;">
                        {{ w.activity.athlete.user.first_name }} ran {{ w.distance }}
                        {% if w.activity.comment != "" %}
                          ({{ w.activity.comment }})
                        {% endif %}
                        <div style="float:right;padding-right:10px;">
                          <a class="clickable-row" data-href="/log/athlete/activity_detail/{{w.activity_id}}">VIEW</a>
                        </div>
                      </div>
                    {% endfor %}
                    <h4>Peanut Gallery</h4>
                    {% for c in recent_comments %}
                      <div>
                        {{ c.poster.first_name }} commented on {{ c.thread.activity.athlete.user.first_name }}'s log!
                        <a class="clickable-row" data-href="/log/athlete/activity_detail/{{c.thread.activity.id}}">VIEW</a>
                      </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    ATHLETES
                </div>
                <div class="panel-body">
                    <!--------------------------------------------------------------------
                    Athlete Table div that will later be filled
                    --------------------------------------------------------------------->
                    <div class="table table-hover" id="athletes" style="width: 100%">
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endif %}
    <script type="text/javascript">
        var athleteData = {{athleteData|safe}};
        var userIDs = {{userIDs}}
        var t2s_map = {{ t2s_map|safe }};
    </script>

    <script type="text/javascript" src="{% static 'log/js/team.js' %}"></script>
    <script>
    function check_field_value() {
        //dictionary of teams and corresponding seasons

        // clean out season dropdown
        document.getElementById('id_season').options.length = 0;

        // team has been selected
        if ($(this).val()) {
            $('.season').disabled = true;

            //get selected team's seasons
            var team_object = document.getElementById("id_team");
            var selected_team = team_object.options[team_object.selectedIndex].text;
            console.log(selected_team)
            var seasons = JSON.parse(t2s_map[selected_team]);

            // for each season add season object to season field
            var season_object = document.getElementById("id_season");
            for (i = 0; i < seasons.length; i++) {
                var option = document.createElement("option");
                option.text = seasons[i]["fields"]["year"];
                option.value = seasons[i]["pk"];
                season_object.add(option);
            }

            // team is no longer selected
        } else {
            $('.season').disabled = false;
        }
    }
    $(document).ready(function() {
        // set things up so function will be called when team field changes
        $('#id_team').change(check_field_value);

        // set the state based on the initial values
        check_field_value.call($('#id_team').get(0));

        // CODE NEEDED FOR FORM SAFETY
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // in modal, when comment posted, reload comment section
        function onCommentPost(modalPage, url) {
            $("#commentForm").submit(function(e) {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#commentForm").serialize(),
                    success: function(data) {
                        //jQuery didn't handle data filtration well unless i put the html into a div (I guess it organized it in the div)
                        var tempDiv = $('<div>');
                        tempDiv.html(data);

                        var foot = tempDiv.find('.modalFoot');

                        $('#dialog2.modal div.modal-footer').html(foot);
                    }
                });
                e.preventDefault();
            });
        }


        $(".clickable-row").click(function(e) {
            var dRef = $(this).attr("data-href");
            var dSplit = dRef.split("/");
            var actID = dSplit[dSplit.length - 1]
            var actURL = "/log/athlete/activity_detail/" + actID + "/"
            console.log("moose");
            $.ajax({
                type: "POST",
                url: actURL,
                dataType: "html",
                success: function(data) {
                    //jQuery didn't handle data filtration well unless i put the html into a div (I guess it organized it in the div)
                    var tempDiv = $('<div>');
                    tempDiv.html(data);

                    var foot = tempDiv.find('.modalFoot');
                    var body = tempDiv.find('.modalBody');

                    $('#dialog2.modal div.modal-footer').html(foot);
                    $('#dialog2.modal div.modal-body').html(body);

                    onCommentPost(tempDiv, actURL);

                    $('#dialog2').modal("show");
                    //  $('#dialog2').on('shown.bs.modal', function() {
                    //      google.charts.setOnLoadCallback(drawIntervalChart);
                    //  });
                }
            });
            e.preventDefault();
        })
    });
    </script>
</div>
{% endblock %}
